.address {
    font-style: normal;
    margin-top: 20px;

}
.contact-footer-address {
    color: var(--white);
    font-size: 14px;
    line-height: 1.71;


    letter-spacing: 0.03em;
    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    
}
.contact-footer-address:hover,
.contact-footer-address:focus {
    color: var(--accent-color);
}
.footer {
    color: var(--white);
}
.contact-link.footer {
    color: var(--secondary-text-footer);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link.footer:hover,
.contact-link.footer:focus {
    color: var(--accent-color);
}
.contact-nav-basement {
    line-height: 1.71; 
    letter-spacing: 0.03em;

    margin-top: 20px;
}
.address-item:not(:last-child) {
margin-bottom: 9px;
}