.basement {
    background-color: var(--fone-footer);

    padding-bottom: 60px;
    padding-top: 60px;
    
    
}
.foot-container{
    display: flex;
    align-items: baseline;
    /* justify-content: space-between; */
    
}